@model IEnumerable<Mundial.Models.AppUsers>

@{
    ViewData["Title"] = "Index";
    var i = 0;
}

<h1>Ranking</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Miejsce
            </th>
            <th>
                Gracz
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Points)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderByDescending(u => u.Points))
        {
            i ++;
            <tr>
                <td>
                    @i
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Points)
                </td>
            </tr>
        }
    </tbody>
</table>
