@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Mundial</h1>
    <img src="~/IMG/qatar-2022-fifa-mistrzostwa-e1668553956899.jpg" class="rounded mx-auto d-block" alt="logo"/>
    
</div>
